body {
    padding: 50px;
    background-color: grey;
    text-align: center;
}

input {
  background-color: black;
  padding: 1%;
  font-size: large;
  size: 100px;
  color: white;
  border-radius: 15px;
}

.section {
    padding: 50px;
}